# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/override.tf
terraform/override.tf.json

# Docker secrets
docker/.env
docker/config/nginx/certs/
docker/config/chirpstack/certs/

# OS
.DS_Store
